<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='mainpage.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class=main>
        <div class="hcontainer">
        <form class=container action="/logout" method="post">
            <input type="submit" class="btn btn-primary" value="Log-out">
        </form>
        <form class=container action="/createsighting">
            <input type="submit" class="btn btn-primary" value="Report New Sighting">
        </form>
        <form class=container action="/dashboard">
            <input type="submit" class="btn btn-primary" value="Back to Sightings Page">
        </form>
        
        </div>
    </div>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class=main>
        <form action="/editsighting"method='post'>
            <input type="hidden" value="{{this_sighting.id}}" name ="id">
            <Label for="location">Location: <input type="text"value="{{this_sighting.location}}" name="location" class="form-control" required></Label>
            <Label for="what_happened">What Happened:<input type="text" value="{{this_sighting.what_happened}}" name="what_happened" class="form-control" required></Label>
            <Label for="date">Date:<input type="date" name="date" value="{{this_sighting.date}}" class="form-control" required></Label>
            <Label for="number"> Number of Sasquatches (Previously {{this_sighting.number}} Reported)</Label>:<input type="number" name="number" value="{{this_sighting.number}} class="form-control" required></Label>
            
            <input type="submit"class="btn btn-primary" value="Update Sighting">
        </form>
    </div>
        
        
</body>
</html>