<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class=landingbody>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="{{url_for('static',filename='images/dumbelllogo.png')}}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <a class="navbar-brand" href="#">Exercise Bible</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <form class=container action="/main/{{mainid}}">
                        <input type="submit" class="btn btn-primary" value="Exercises">
                    </form>
                </li>
                <li>
                    <form class=container action="/dashboard">
                        <input type="submit"class="btn btn-primary" value="Main Muscles Page">
                    </form>
                </li>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <p>Welcome {{session['first_name']}}!</p>
                </div>
                
                <li>{%if session%}
                    <form class=container action="/logout" method="post">
                        <input type="submit" class="btn btn-primary" value="Log-out">
                    </form>
                    {%endif%}</li>
                </ul>
                </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                </div>
            </ul>
        </div>
    </nav>
    
    <div class="main col">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/editexercise"method='post'>
            <input type="hidden" value="{{this_exercise.id}}" name ="id">
            <Label for="name">Name: <input type="text"value="{{this_exercise.name}}" name="name" class="form-control" required></Label>
            <Label for="description">Description:<input type="text" value="{{this_exercise.description}}" name="description" class="form-control" required></Label>
            <Label for="primary_muscle">Primary Muscle:<input type="text" value="{{this_exercise.primary_muscle}}" name="primary_muscle" class="form-control" required></Label>
            <Label for="secondary_muscle">Secondary Muscle:<input type="text" value="{{this_exercise.secondary_muscle}}" name="secondary_muscle" class="form-control" required></Label>
            <Label for="equipment">Equipment:<input type="text" value="{{this_exercise.equipment}}" name="equipment" class="form-control" required></Label>
            <input type="submit"class="btn btn-primary" value="Update Exercise">
        </form>
    </div>
        
        
</body>
</html>