.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.hcontainer{
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.red{
    color:red;
}

#body{
    background: url("../images/Background.jpeg") no-repeat;
    background-position: center;
    /* background: radial-gradient(circle, black, white); */
}
